* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  --red-btn: #8b0a0a;
  --main-red: #fc4e4e;
  --second-red: #ff8383;
  --input-bg: rgba(126, 23, 23, 0.8);
  --input-text: rgb(185, 185, 185);
  --pink-text: #ffaeae;
  --modal-bg: rgba(56, 2, 2, 0.64);
  --danger-color: #dc3545;
  --success-color: #28a745;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  padding: 2rem;
  background: black;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#home-btn,
#dashboard-btn,
.fa-sign-out-alt,
.fa-balance-scale-right,
.fa-book-dead,
.fa-user-cog {
  color: var(--main-red);
  text-decoration: none;
  font-size: 2.4rem;
  cursor: pointer;
}

/* #dashboard-btn:link,
#dashboard-btn:visited,
#dashboard-btn:active {
  color: var(--red-btn);
} */

/**************** alert form **********************/
.alert {
  padding: 2rem;
  margin: 1rem 0;
  opacity: 0.9;
}

.alert-msg {
  font-size: 1.6rem;
  display: inline-block;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.fa-info-circle {
  font-size: 1.4rem;
}

/**********************************************************/
/******************** form *********************************/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  background-color: black;
}

.form-container {
  width: 90%;
  margin: 4rem auto;
  border: solid 1px var(--main-red);
  padding: 2rem 2rem 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  align-self: flex-start;
  font-size: 2rem;
  padding: 1rem 0;
  transition: all 0.3s ease;
  color: var(--main-red);
}

.form-input {
  width: 100%;
  padding: 1.8rem;
  font-size: 2rem;
  background-color: var(--input-bg);
  border: none;
  color: var(--pink-text);
}

.login-form {
  padding: 2rem 0;
}

.form-input:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0px 10px 5px 0px rgba(110, 2, 2, 0.534);
}

.form-input::-webkit-input-placeholder {
  margin-left: 2rem;
  font-size: 1.6rem;
  color: var(--pink-text);
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all 0.3s ease;
}

.form-title {
  color: var(--main-red);
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

.form-bg {
  background-color: black;
  background-image: url(/images/doomsday-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0 8rem;
  background-attachment: fixed;
}

.para-form {
  color: var(--pink-text);
}

.para-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.link-to {
  color: var(--main-red);
  font-size: 1.4rem;
  text-decoration: none;
}

.btn {
  background-color: var(--red-btn);
  color: var(--pink-text);
  border: none;
  padding: 1rem;
  width: 50%;
  /* border-radius: 4rem; */
  font-size: 1.6rem;
  display: inline-block;
  transition: all 0.4s;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  /* border-radius: 4rem; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-after::after {
  background-color: var(--red-btn);
}

.login-title {
  margin: 2rem 0;
}

/************************* home *****************************/
.home-bg {
  background-color: black;
  background-image: url(/images/doomsday-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20rem 0 4rem;
  background-attachment: fixed;
}

.main-title {
  color: var(--main-red);
  margin-bottom: 2rem;
}

.main-subtitle {
  color: var(--second-red);
  margin-bottom: 8rem;
  padding-bottom: 2rem;
  font-weight: 400;
  border-bottom: 1px solid var(--main-red);
}

.home-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.btn-home {
  text-align: center;
  margin: 1rem 0;
}

/*********************** dashboard ***********************/
.dashboard-bg {
  background-color: black;
  background-image: url(/images/doomsday-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
  /* padding: 0rem 0 80rem; */
  background-attachment: fixed;
}

/********************* userlist *********************/
.users-container {
  padding: 8rem 2rem;
}

.search-btn {
  width: 100%;
  margin-top: 2rem;
}

.users-box-card {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.user-card {
  padding-bottom: 4rem;
  width: 100%;
  /*  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.user-card-img {
  margin-bottom: 2rem;
  width: 80%;
}

.user-card-img img {
  border-radius: 20%;
}

.card-box-content,
.card-box-content a {
  color: var(--main-red);
  border-bottom: 1px solid var(--red-btn);
}
.detail-box {
  color: var(--main-red);
}
.detail-img {
  border-radius: 20%;
  width: 80%;
  margin: auto;
  display: block;
}
.detail-box-info {
  text-align: center;
  margin: 2rem 0;
  text-transform: capitalize;
}
.detail-box-info h2 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--red-btn);
}
.detail-box-info p {
  font-size: 1.8rem;
  font-weight: 400;
}
.checkbox-control {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-red);
}
.checkbox-input {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
.detail-label {
  font-size: 1.6rem;
  margin-right: 2rem;
}
.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: var(--red-btn);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label-container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--main-red);
}
.detail-select {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: var(--input-bg);
  border: none;
  color: var(--input-text);
  margin-bottom: 2rem;
}
.detail-select:focus {
  outline: none;
  border: 1px solid var(--main-red);
  box-shadow: 0px 10px 5px 0px rgba(110, 2, 2, 0.534);
}
.btn-big {
  width: 100%;
  margin: 2rem 0;
}
.detail-days p {
  font-size: 3rem;
  font-weight: 700;
}
.detail-days span {
  font-weight: 400;
  font-size: 2.4rem;
  text-transform: lowercase;
}
.detail-days h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.detail-sins {
  text-align: justify;
}
.detail-sins h4 {
  margin: 2rem 0;
  padding: 1rem 0;
  border-bottom: 2px solid var(--main-red);
  border-top: 1px solid var(--main-red);
}
.detail-data {
  text-align: left;
  border-bottom: 2px solid var(--red-btn);
}
.detail-data p {
  padding: 1rem 0;
}
.detail-description {
  grid-area: 3/1/4/1;
}
.detail-btn-mode {
  text-align: center;
}
.detail-btn-mode button {
  margin: 1rem;
}
/****************************** media queries *****************/
@media screen and (min-width: 600px) {
  .home-bg,
  .dashboard-bg {
    padding-bottom: 50rem;
  }

  .login-form {
    padding: 10rem 0;
  }

  .login-container {
    margin-top: 8rem;
  }

  .users-box-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .form-grid {
    grid-area: 2/1/4/3;
  }
  .detail-box-info {
    text-align: left;
  }
  .label-container {
    font-size: 2.2rem;
  }
  .detail-sins {
    grid-area: 4/1/5/3;
  }
  .detail-days {
    grid-area: 2/1/2/3;
    text-align: center;
  }
  .detail-days p {
    font-size: 4rem;
    font-weight: 700;
  }
  .detail-btn-mode {
    grid-area: 5/1/6/3;
    text-align: center;
  }
  .detail-btn-mode button {
    margin: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .users-box-card {
    margin: 8rem 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .detail-sins {
    grid-area: 4/1/5/4;
  }
  .detail-days {
    grid-area: 2/1/2/4;
  }
  .detail-btn-mode {
    grid-area: 5/1/6/4;
  }
}
